<mat-form-field appearance="standard" [ngClass]="fieldClasses">
  <mat-label>{{ label | translate }}</mat-label>
  <textarea
    matInput
    matTextareaAutosize
    rows="5"
    [maxlength]="hintMax"
    [formControl]="control"
    (blur)="blurEvent.emit($event)"
    (change)="valueChanged.emit($event)"
    [required]="isRequired"
  ></textarea>
  <mat-hint [ngClass]="'hint'" *ngIf="hint != null">
    <div class="input-hint-max" *ngIf="hintMax">{{ control.value.toString().length }}/{{ hintMax }}</div>
    <div class="input-hint">{{ hint | translate }}</div>
  </mat-hint>
  <mat-error *ngIf="(!control || !control.disabled) && control?.errors">
    {{ getErrorString(control.errors) | translate }}
  </mat-error>
</mat-form-field>
