<app-page-detail
  [title]="'title.detail_log'"
  [hasTitle]="hasTitle"
  [message]="message"
  [returnUrl]="returnUrl"
  [state]="state"
  [queryParams]="queryParams"
  [breadCrumbs]="breadCrumbs"
  [bodyTemplate]="body"
  [panelTemplate]="panel"
  [gridClasses]="'col-xl-8 col-12 mb-3'"
  [panelClasses]="'col-xl-4 col-12'"
></app-page-detail>

<ng-template #body>
  <div class="px-3">
    <ng-container *ngIf="log.dateTime">
      <p class="mb-1 label">{{ 'common.datetime' | translate }}</p>
      <p>{{ date }}</p>
    </ng-container>

    <ng-container *ngIf="log.instanceId">
      <p class="mb-1 label">{{ 'common.instanceid' | translate }}</p>
      <p>{{ log.instanceId }}</p>
    </ng-container>

    <ng-container *ngIf="log.level">
      <p class="mb-1 label">{{ 'common.level' | translate }}</p>
      <p>
        <span mat-dialog-subtitle [ngClass]="badgeLogLevel(log.level)">{{ log.level }}</span>
      </p>
    </ng-container>

    <ng-container *ngIf="log.message">
      <p class="mb-1 label">{{ 'common.message' | translate }}</p>
      <p class="break">{{ log.message }}</p>
    </ng-container>

    <ng-container *ngIf="log.appVersion">
      <p class="mb-1 label">{{ 'common.app_version' | translate }}</p>
      <p class="mb-1">{{ 'title.app' | translate }}: {{ log.appVersion.app ? log.appVersion.app : '-' }}</p>
      <p>{{ 'common.core' | translate }}: {{ log.appVersion.core ? log.appVersion.core : '-' }}</p>
    </ng-container>

    <ng-container *ngIf="log.device">
      <p class="mb-1 label">Device</p>
      <p>{{ log.device }}</p>
    </ng-container>

    <ng-container *ngIf="log.os">
      <p class="mb-1 label">OS</p>
      <p>{{ log.os }}</p>
    </ng-container>

    <ng-container *ngIf="log.browser">
      <p class="mb-1 label">Browser</p>
      <p>{{ log.browser }}</p>
    </ng-container>

    <ng-container *ngIf="log.file">
      <p class="mb-1 label">File</p>
      <p class="break">{{ log.file }}</p>
    </ng-container>

    <div class="my-2" *ngIf="log.stackTrace.length != 0">
      <p class="mb-1 label">Stacktrace</p>
      <pre><code [highlight]="stackTraceLog" [languages]="['typescript']"></code></pre>
    </div>

    <div class="my-2" *ngIf="log.additional.length != 0">
      <p class="mb-1 label">Additional</p>
      <pre>
        <code [highlight]="additional" [languages]="['typescript']"></code>
      </pre>
    </div>
  </div>
</ng-template>
<ng-template #panel>
  <mat-card class="mb-3">
    <mat-card-content class="status_log">
      <app-status [status]="log.status" [idLog]="log.id" [hasPermission]="log.isTeamManager"></app-status>
    </mat-card-content>
    <!-- Status -->
    <mat-divider></mat-divider>

    <!-- Priority -->
    <mat-card-content class="log_content">
      <app-priority [hasPermission]="log.isTeamManager" [idLog]="log.id" [priority]="log.priority"></app-priority>
    </mat-card-content>
    <mat-divider></mat-divider>

    <!-- Assignee -->
    <mat-card-content class="log_content">
      <app-assignee [hasPermission]="log.isTeamManager" [idLog]="log.id" [assignee]="log.assignee"></app-assignee>
    </mat-card-content>
    <mat-divider></mat-divider>

    <mat-card-content class="tags_log" [ngClass]="{ 'in-active': log.tag == null && !log.isTeamManager }">
      <app-tags [hasPermission]="log.isTeamManager" [idLog]="log.id" [tags]="log.tag"></app-tags>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <p class="label">{{ 'common.comments' | translate }}</p>
    <div>
      <mat-divider></mat-divider>
    </div>

    <ng-container *ngFor="let comment of comments; let i = index">
      <h5 class="mt-3 label mb-0">
        <b>{{ comment.userName }} </b> {{ dateTime(comment.createdAt) }}
      </h5>
      <p *ngIf="!editMode || i != number">
        {{ comment.comment }}
      </p>

      <div class="mb-0">
        <mat-form-field appearance="standard" class="no-label" *ngIf="editMode && number === i">
          <input
            value="{{ comment.comment }}"
            matInput
            placeholder="{{ 'common.write_your_comment' | translate }}"
            (change)="onChangeEdit($event, comment.id)"
          />
          <ng-container matSuffix>
            <span class="d-flex">
              <button mat-icon-button (click)="close()">
                <mat-icon matSuffix>clear</mat-icon>
              </button>
              <mat-spinner matSuffix class="spinner" [diameter]="23" *ngIf="isLoadingEdit"></mat-spinner>
            </span>
          </ng-container>
        </mat-form-field>
      </div>

      <div class="d-flex mb-3">
        <ng-container *ngIf="comment.userId == authService.currentUser?.id">
          <a *ngIf="!editMode || i != number" class="mr-2" (click)="edit(i)">
            {{ 'common.edit' | translate }}
          </a>
          <a *ngIf="!editMode || i != number" (click)="deleteComment(comment.id)">
            {{ 'common.delete' | translate }}
          </a>
        </ng-container>
      </div>
      <div>
        <mat-divider></mat-divider>
      </div>
    </ng-container>

    <mat-form-field appearance="standard" class="mt-3">
      <input matInput placeholder="{{ 'common.write_your_comment' | translate }}" (change)="onChange($event)" />
      <mat-spinner matSuffix class="spinner" [diameter]="23" *ngIf="isLoading"></mat-spinner>
    </mat-form-field>
  </mat-card>
</ng-template>
