<ng-container *ngIf="edit && app">
  <mat-divider></mat-divider>
  <mat-tab-group animationDuration="0ms" class="tab-responsive" [disableRipple]="true">
    <mat-tab>
      <ng-template mat-tab-label>
        <div class="fs-6 tab-icon" matTooltip="{{ 'common.general' | translate }}">
          <i class="bi bi-house-gear-fill"></i>
        </div>
        <div class="text-label">{{ 'common.general' | translate }}</div>
      </ng-template>
      <div class="inner-card col-12">
        <app-page-detail
          [title]="'title.app_settings'"
          [hasTitle]="pageState.state != 'loaded' ? false : true"
          [appLogo]="appLogo"
          [message]="pageState.message ? pageState.message : ''"
          [returnUrl]="pageState.returnUrl"
          [state]="pageState.state"
          [bodyTemplate]="body"
          [gridClasses]="'col-12'"
          [buttonsTemplate]="button"
          [queryParams]="queryParams"
          [breadCrumbs]="breadCrumbs"
          [gridClasses]="'padding-page'"
          [dataTitle]="app.name"
          [hasNowrap]="true"
        ></app-page-detail>
      </div>
    </mat-tab>
    <ng-container *ngIf="showMatBar">
      <mat-tab>
        <ng-template mat-tab-label>
          <div class="fs-6 tab-icon" matTooltip="{{ 'title.teams' | translate }}">
            <i class="bi bi-people-fill"></i>
          </div>
          <div class="text-label">{{ 'title.teams' | translate }}</div>
        </ng-template>
        <div class="inner-card col-12 my-3">
          <app-teams [appTeams]="dropdownAppTeams" [id]="app.id" [hasPermission]="app.isTeamManager"></app-teams>
        </div>
      </mat-tab>
    </ng-container>

    <mat-tab>
      <ng-template mat-tab-label>
        <div class="fs-6 tab-icon" matTooltip="{{ 'common.health' | translate }}">
          <i class="bi bi-heart-pulse-fill"></i>
        </div>
        <div class="text-label">{{ 'common.health' | translate }}</div>
      </ng-template>
      <div class="inner-card col-12 my-3">
        <app-health-setting [app]="app"></app-health-setting>
      </div>
    </mat-tab>

    <ng-container *ngIf="app.isTeamManager && showMatBar">
      <mat-tab [labelClass]="'tab-danger'">
        <ng-template mat-tab-label>
          <div class="fs-6 tab-icon" matTooltip="{{ 'common.delete' | translate }}">
            <i class="bi bi-trash3-fill"></i>
          </div>
          <div class="text-label">{{ 'common.delete' | translate }}</div>
        </ng-template>
        <div class="inner-card col-12 my-3">
          <app-delete-app [id]="app.id"></app-delete-app>
        </div>
      </mat-tab>
    </ng-container>
  </mat-tab-group>
</ng-container>

<ng-container *ngIf="!edit">
  <app-page-detail
    [title]="'title.create_app'"
    [hasTitle]="pageState.state != 'loaded' ? false : true"
    [message]="pageState.message ? pageState.message : ''"
    [returnUrl]="pageState.returnUrl"
    [state]="pageState.state"
    [bodyTemplate]="body"
    [buttonsTemplate]="button"
    [queryParams]="queryParams"
    [breadCrumbs]="breadCrumbs"
    [dataTitle]="app?.name ?? ''"
  ></app-page-detail>
</ng-container>

<ng-template #body>
  <form [formGroup]="formGroup">
    <div class="px-3">
      <div class="apiKey" *ngIf="edit">
        <div class="apikey_input">
          <p class="mb-1 label">{{ 'app.api_key' | translate }}</p>
          <p style="word-break: break-all">
            <code>{{ app?.apiKey }}</code>
          </p>
        </div>
        <div class="d-flex">
          <button mat-icon-button (click)="onCopy()" matTooltip="Copy to clipboard" color="primary">
            <mat-icon>content_copy</mat-icon>
          </button>
          <button
            mat-icon-button
            *ngIf="app?.isTeamManager"
            color="primary"
            (click)="onGenerateAppApiKey()"
            matTooltip="{{ 'app.regenerate' | translate }}"
          >
            <mat-icon>refresh</mat-icon>
          </button>
        </div>
      </div>
      <!-- Name -->
      <app-form-input
        [label]="'common.name'"
        [control]="asFormControl(formGroup.controls['name'])"
        [hintMax]="100"
      ></app-form-input>

      <!-- Type -->
      <p>
        <app-form-select-search
          [label]="'common.type'"
          [control]="asFormControl(formGroup.controls['type'])"
          [hint]="'app.hint.type'"
          [link]="appTypelink"
          [clickLink]="true"
          [useSearch]="false"
          [options]="dropdownAppTypes"
          (valueChanged)="onAppTypeChanged($event)"
        ></app-form-select-search>
      </p>

      <!-- Description -->
      <app-form-textarea
        [label]="'app.description'"
        [control]="asFormControl(formGroup.controls['description'])"
        [hintMax]="300"
      ></app-form-textarea>

      <!-- Teams -->
      <ng-container *ngIf="!edit">
        <hr />
        <p class="title_card">{{ 'title.teams' | translate }}</p>
        <p class="mb-0 mat-card-subtitle">{{ 'team.subtitle_create' | translate }}</p>
        <div formArrayName="teams">
          <ng-container *ngFor="let team of teamsFormArrayGroups; last as isLast; index as idx; let i = index">
            <div class="apps_form align-items-center" [formGroupName]="i">
              <div class="app_form">
                <app-form-select-server-side
                  [label]="'common.team_name'"
                  [options]="dropdownAppTeams"
                  [control]="asFormControl(team.controls['key'])"
                  [description]="team.controls['desc'].value"
                  [errorTranslations]="errorTranslations.name"
                ></app-form-select-server-side>
              </div>

              <div class="app_button d-flex">
                <button mat-icon-button color="warn" *ngIf="teamsFormArray.length > 1" (click)="onRemoveTeam(idx)">
                  <mat-icon>remove_circle</mat-icon>
                </button>
                <span
                  class="member_span"
                  mat-icon-button
                  color="warn"
                  *ngIf="teamsFormArrayGroups.length > 1 && !isLast"
                ></span>
                <button
                  mat-icon-button
                  color="primary"
                  *ngIf="isLast"
                  (click)="teamsFormArray.push(initFormGroupTeams())"
                >
                  <mat-icon>add_circle</mat-icon>
                </button>
              </div>
            </div>
          </ng-container>
        </div>
      </ng-container>

      <!-- Upload Image -->
      <div class="mt-3">
        <p class="label mb-0">{{ 'Logo' | translate }}</p>
        <div class="img-wrap">
          <div *ngIf="srcImage" class="mb-3 d-flex align-items-end">
            <button
              class="close"
              mat-icon-button
              (click)="onDeleteLogo()"
              aria-label="Delete Logo"
              matTooltip="{{ 'common.delete' | translate }}"
            >
              <mat-icon class="mat-icon-size">clear</mat-icon>
            </button>
          </div>
        </div>

        <app-form-logo-upload [srcImage]="srcImage"> </app-form-logo-upload>
      </div>
    </div>
  </form>
</ng-template>

<ng-template #button>
  <app-save-button (save)="save()" [disabled]="formGroup.invalid" *ngIf="isDataChangesAllowed"></app-save-button>
</ng-template>
