.form_array {
  display: flex;
  flex-direction: row;
  align-items: center;

  .array_form {
    width: 100%;
    margin-left: 0;
    margin-right: 10px;
  }
  .array_button {
    align-items: center;
  }
}

.is_last {
  flex-direction: row;

  @media screen and (max-width: 702px) and (min-width: 600px) {
    flex-direction: column;
  }

  @media screen and (max-width: 415px) {
    flex-direction: column;
  }
}

.array_line {
  display: none !important;

  @media screen and (max-width: 825px) {
    display: block !important;
  }
}
