// Foreground Elements
// Light Theme Text
$dark-text: #000000;
// Dark Theme text
$light-text: #ffffff;

// Background config
// Light bg
$light-background: #fafafa;
// Dark bg
$dark-background: #2c2c2c;

// Theme Config
// Primary color
$primary-color: #674ea7;
$primary-lighter-color: #cbbdff;
$primary-darker-color: #4a358c;
// Accent color
$accent-color: #797979;
$accent-lighter-color: #d7d7d7;
$accent-darker-color: #5c5c5c;
// Warn color
$warn-color: #f44336;
$warn-lighter-color: #ffb3b3;
$warn-darker-color: #ff0000;

// Text color
$text-label: rgba(0, 0, 0, 0.6);
$text-light: #fff;
$text-subtitle: #474747;
$text-muted: rgba(0, 0, 0, 0.5);
$suffix-color: rgba(0, 0, 0, 0.54);

// borders
$border-darker: rgba(0, 0, 0, 0.42);
$border-standard: rgba(0, 0, 0, 0.3);
$border-light: rgba(0, 0, 0, 0.12);

// background
$background-main: #fafafa;
$background-table-row-edited: #ebf1f9;

$row-menu: #9583c1;

// common colors
$warning: #ff8f00;
$danger: #fd0303;
$info: #004085;
$success: #40d040;
$muted: rgba(0, 0, 0, 0.54);
$row-menu: #bd9e9e;
$border-color: #e0e0e0;
$badge-info-color: #b6b2c3;
$hint-max-color: #9c9c9c;
$card-comment: #f6f9fc;
