{% extends 'base.html.twig' %}

{% block title %}Reset Password{% endblock %}

{% block body %}
    <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" width="100%">
        <tbody>
        <tr>
            <td>
                <p>Dear, {{ name }}</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>We've received a password-reset request for your account. Click the following link to proceed:</p>
            </td>
        </tr>
        <tr>
            <td>
                <a class="btn btn-primary" href="{{ url }}" target="_blank">Reset Password</a>
            </td>
        </tr>
        </tbody>
    </table>

    <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" width="100%">
        <tbody>
        <tr>
            <td>
                <p>Please ignore this message if you did not make the password-reset request.</p>
            </td>
        </tr>
        </tbody>
    </table>
{% endblock %}
