<ngx-loading-bar [color]="'#4a358c'" [includeSpinner]="false" [height]="'3px'"></ngx-loading-bar>
<app-title [title]="'title.reset_password' | translate"></app-title>
<div class="d-lg-flex half">
  <div class="bg-reset order-md-2"></div>
  <div class="reset-wrapper order-md-1">
    <div class="container">
      <div class="row align-items-center justify-content-center">
        <div class="col-md-7">
          <div class="reset-form" style="opacity: 1">
            <p>
              <img [src]="'assets/img/logbook-logo.svg'" alt="image" style="width: 45%" />
            </p>
            <span class="app-title">{{ subtitle }}</span>
            <div class="reset-form-input">
              <form [formGroup]="formGroup" (ngSubmit)="resetPassword()">
                <ng-container *ngIf="mode === 'READY'">
                  <p>{{ 'reset.intro' | translate }}</p>
                  <div class="input-form">
                    <app-form-input
                      [type]="'email'"
                      [label]="'common.email'"
                      [control]="asFormControl(formGroup.controls['email'])"
                    ></app-form-input>
                  </div>
                </ng-container>
                <div *ngIf="mode === 'FINISHED'">
                  <h3 class="mb-0 mt-2">{{ 'reset.msg.success_title' | translate }}</h3>
                  <p>{{ 'reset.msg.success' | translate }}</p>
                </div>

                <div class="d-flex">
                  <button
                    mat-raised-button
                    color="primary"
                    type="submit"
                    [disabled]="!formGroup.valid"
                    *ngIf="mode === 'READY'"
                  >
                    {{ 'common.submit' | translate }}
                  </button>
                  <a
                    mat-button
                    class="text-decoration-none"
                    [class.mat-raised-button]="mode === 'FINISHED'"
                    [ngClass]="{ 'mx-2': mode === 'READY' }"
                    color="primary"
                    [routerLink]="'/login'"
                  >
                    {{ 'reset.sign_in_instead' | translate }}
                  </a>
                </div>
              </form>
              <div class="my-4">
                <app-language-selector
                  [mode]="'list'"
                  [useIcon]="false"
                  [defaultLanguage]="defaultLanguage"
                  [languages]="languages"
                ></app-language-selector>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
